@model Prestamos.Models.Clientes

@{
    ViewBag.Title = "Detalle clientes";
}

<h2>Información de Cliente</h2>

<div>
    <h4>Datos personales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })

</p>
