@model Prestamos.Models.Prestamo

@{
    ViewBag.Title = "Eliminar prestamo";
}

<h2>Esta seguro que desea eliminar el registro del prestamo?</h2>


<div>
    @*<h4>Prestamo</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Clientes.Nombre, "Nombrecito", htmlAttributes: new { @class = "control-label col-md-0" })
            @*@Html.DisplayNameFor(model => model.Clientes.Nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Clientes.Apellidos, "Apellidos", htmlAttributes: new { @class = "control-label col-md-0" })
            @*@Html.DisplayNameFor(model => model.Clientes.Nombre)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Apellidos)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Capital, "Monto", htmlAttributes: new { @class = "control-label col-md-0" })
            @*@Html.DisplayNameFor(model => model.Capital)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Interes, "Interes (%)", htmlAttributes: new { @class = "control-label col-md-0" })
            @*@Html.DisplayNameFor(model => model.Interes)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver a la Lista", "Index") |
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
